/* a, span, em, input */

@import "vars";
@import "mixins";

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  vertical-align: top; // 이미지 사이의 수직 여백 없어짐
}

body {
  font-family: "Lato", "Pretendard", sans-serif;
  font-size: 16px;
  color: #111;
  background-color: rgba(0, 0, 0, 0.4);
}

header {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px;
  h1 {
    font-size: 24px;
    font-weight: 300;
    strong {
      font-weight: 700;
    }
  }
}

.list {
  width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.search-box {
  width: 600px;
  margin: 50px auto;
  padding: 10px 30px;
  background-color: #fff;
  display: flex;
  border-radius: 100px;
  .search-txt {
    height: 50px;
    flex-grow: 1; // 남아있는 여백을 다 가져감
    //flex-grow는 0보다 큰 값을 세팅하면 Flexible 박스로 변하면서 남은 여백을 메우는 속성입니다.
    //그래서 flex-grow:1;을 추가하면 아래처럼 빈 여백 공간이 채워지게 됩니다.
    border: none;
    font-size: 20px;
    font-weight: 500;
    outline: none;
  }
  .btn-search {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    .material-icons {
      font-size: 36px;
    }
  }
}

.recent-search-word {
  width: 800px;
  margin: 50px auto;
  display: flex;
  gap: 10px;
  li {
    padding: 15px 30px;
    background-color: rgba(59, 162, 203, 0.5);
    color: #fff;
    border-radius: 100px;
    font-size: 18px;
    font-weight: 700;
  }
}

.recentX {
  cursor: pointer;
  font-weight: 200;
  margin-left: 5px;
}
